<% content_for :opaque_header do %>
  <%= render 'layouts/header' %>
<% end %>

<div id="index">
    <div class="splash_bg">
        <video autoplay="" loop="" class="fillWidth fadeIn animated" poster="https://s3-us-west-2.amazonaws.com/coverr/poster/For_Wes.jpg" style="width: 1439px;">
            <source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/For_Wes.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/For_Wes.mp4" type="video/webm">Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
    </div>
    <div class="splash" id="upload">
        <div class="inner">
            <h1>
            Discover<br class="visible-phone"/> the hottest new startups
        </h1>

            <div class="slogan">
                Instant video uploads. No account required.
            </div>
            <div class="uploadbutton_wrapper">
            <%= link_to('Sign Up!', new_user_registration_path, class: "uploadbutton")  %>
            </div>
        </div>
    </div>

    <div class="listing_wrapper">
        <div class="listing">
            <div class="gutter" data-spy="affix" data-offset-top="537" data-offset-bottom="0">
                <h1>
                Featured
            </h1>

                <div class="desc">
                    A look at the hottest startups
                    <br/>
                    <br/> Or, check out some <a href='/new'>new uploads</a>.
                </div>
            </div>
            <div class="inner">

                <ul class="videos_list js-video-feed" data-class="videos_list js-video-feed" data-order="video_id" data-direction="DESC" data-items-per-page="20" data-type="frontpage">
                    <li data-id="3117833" data-channel="" data-user="1309765" data-url="https://vid.me/XOYE" class="">
                        <div class="inner">
                            <div class="thumb_vote_wrapper">
                                <div class="thumb_vote">
                                    <a class="js-video-vote-up " data-video="3117833" data-video-title="Dueling Instagrammers Kevin Hart and The Rock" data-video-url="https://vid.me/XOYE"><i class="fa fa-arrow-up"></i></a>
                                    <a class="js-video-vote-down " data-video="3117833" data-video-url="https://vid.me/XOYE"><i class="fa fa-arrow-down"></i></a>
                                </div>
                            </div>
                            <div class="thumb_wrapper">
                                <a href="https://vid.me/XOYE" style="background:#f6deb7">
                                    <span class="thumb_duration">
                    0:15                    </span>
                                    <img src="https://d1wst0behutosd.cloudfront.net/thumbnails/3117833.jpg?v1r1435866601" alt="" width="302" height="170" style="margin-left: -1px; margin-top: -0px" class="hidden-phone"> <img src="https://d1wst0behutosd.cloudfront.net/thumbnails/3117833.jpg?v1r1435866601" alt="" width="151" height="85" style="margin-left: -16px; margin-top: -0px" class="visible-phone"> </a>
                                <span class="thumb_title">
                                                                                                                                            <span class="thumb_channel thumb_featured">
                        <a href="/featured">Featured</a>
                    </span>
                                <a class="thumb_title_label" href="https://vid.me/XOYE">
                        Dueling Instagrammers Kevin Hart and The Rock                        </a>
                                <div class="thumb_author" data-user="1309765">
                                    <a href="https://vid.me/Msybtr" class="thumb_author_username">Msybtr</a>
                                </div>
                                </span>
                            </div>
                            <div class="thumb_info">
                                <div class="thumb_info_alt">
                                    <div class="thumb_title_alt">
                                        <a href="https://vid.me/XOYE">
                                Dueling Instagrammers Kevin Hart and The Rock                                </a>
                                    </div>
                                    <div class="thumb_info_alt2">
                                        <span class="thumb_author_alt">
                                    <a href="https://vid.me/Msybtr"
                                       class="thumb_author_username">Msybtr</a>
                                </span>
                                    </div>
                                </div>
                                <ul class="thumb_stats">
                                    <li class="thumb_stat thumb_score">
                                        <a href="https://vid.me/XOYE" class="js-video-vote-score" data-video="3117833" data-score="46">
                                            <span class="num">46</span>
                                            <span class="text">points</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_views">
                                        <a href="https://vid.me/XOYE">
                                            <span class="num">582,721</span>
                                            <span class="text">plays</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_comments">
                                        <a href="https://vid.me/XOYE">
                                            <span class="num">8</span>
                                            <span class="text">comments</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_date">
                                        <a href="https://vid.me/XOYE">
                                            <time class="timestamp" title="July 2nd, 2015, 12:50:12 pm PDT" datetime="2015-07-02T12:50:12-07:00" data-timestamp="Thu, 2 Jul 2015 12:50:12 -0700">5d ago</time>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_watching">
                                        <span class="js-video-watchers" data-type="video" data-video="3117833">
                            235 watching
                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>

                   
                  
                    <li data-id="3212897" data-channel="242" data-user="" data-url="https://vid.me/ywiV" class=" anonymous">
                        <div class="inner">
                            <div class="thumb_vote_wrapper">
                                <div class="thumb_vote">
                                    <a class="js-video-vote-up " data-video="3212897" data-video-title="USA v JPN highlight" data-video-url="https://vid.me/ywiV"><i class="fa fa-arrow-up"></i></a>
                                    <a class="js-video-vote-down " data-video="3212897" data-video-url="https://vid.me/ywiV"><i class="fa fa-arrow-down"></i></a>
                                </div>
                            </div>
                            <div class="thumb_wrapper">
                                <a href="https://vid.me/ywiV" style="background:#a7d38a">
                                    <span class="thumb_duration">
                    2:36                    </span>
                                    <img src="https://d1wst0behutosd.cloudfront.net/thumbnails/3212897.jpg?v1r1436138954" alt="" width="304" height="170" style="margin-left: -2px; margin-top: -0px" class="hidden-phone"> <img src="https://d1wst0behutosd.cloudfront.net/thumbnails/3212897.jpg?v1r1436138954" alt="" width="152" height="85" style="margin-left: -16px; margin-top: -0px" class="visible-phone"> </a>
                                <span class="thumb_title">
                                                                                                    <span class="thumb_channel">             
                        <a href="https://vid.me/n/sports">Sports</a>
                    </span>
                                <a class="thumb_title_label" href="https://vid.me/ywiV">
                        USA v JPN highlight                        </a>
                                </span>
                            </div>
                            <div class="thumb_info">
                                <div class="thumb_info_alt">
                                    <div class="thumb_title_alt">
                                        <a href="https://vid.me/ywiV">
                                USA v JPN highlight                                </a>
                                    </div>
                                    <div class="thumb_info_alt2">
                                        <span class="thumb_channel_alt">             
                                    <a href="https://vid.me/n/sports">Sports</a>
                                </span>
                                    </div>
                                </div>
                                <ul class="thumb_stats">
                                    <li class="thumb_stat thumb_score">
                                        <a href="https://vid.me/ywiV" class="js-video-vote-score" data-video="3212897" data-score="6">
                                            <span class="num">6</span>
                                            <span class="text">points</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_views">
                                        <a href="https://vid.me/ywiV">
                                            <span class="num">91,733</span>
                                            <span class="text">plays</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_date">
                                        <a href="https://vid.me/ywiV">
                                            <time class="timestamp" title="July 5th, 2015, 4:29:42 pm PDT" datetime="2015-07-05T16:29:42-07:00" data-timestamp="Sun, 5 Jul 2015 16:29:42 -0700">2d ago</time>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_watching">
                                        <span class="js-video-watchers" data-type="video" data-video="3212897">
                            98 watching
                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li data-id="3179534" data-channel="3" data-user="3834632" data-url="https://vid.me/c7bk" class="">
                        <div class="inner">
                            <div class="thumb_vote_wrapper">
                                <div class="thumb_vote">
                                    <a class="js-video-vote-up " data-video="3179534" data-video-title="When Taunting Goes Wrong" data-video-url="https://vid.me/c7bk"><i class="fa fa-arrow-up"></i></a>
                                    <a class="js-video-vote-down " data-video="3179534" data-video-url="https://vid.me/c7bk"><i class="fa fa-arrow-down"></i></a>
                                </div>
                            </div>
                            <div class="thumb_wrapper">
                                <a href="https://vid.me/c7bk" style="background:#592123">
                                    <span class="thumb_duration">
                    3:57                    </span>
                                    <img src="https://d1wst0behutosd.cloudfront.net/thumbnails/3179534.jpg?v1r1436022630" alt="" width="302" height="170" style="margin-left: -1px; margin-top: -0px" class="hidden-phone"> <img src="https://d1wst0behutosd.cloudfront.net/thumbnails/3179534.jpg?v1r1436022630" alt="" width="151" height="85" style="margin-left: -16px; margin-top: -0px" class="visible-phone"> </a>
                                <span class="thumb_title">
                                                                                                    <span class="thumb_channel">             
                        <a href="https://vid.me/n/funny">Funny</a>
                    </span>
                                <a class="thumb_title_label" href="https://vid.me/c7bk">
                        When Taunting Goes Wrong                        </a>
                                <div class="thumb_author" data-user="3834632">
                                    <a href="https://vid.me/EFARCHIVE" class="thumb_author_username">EFARCHIVE</a>
                                </div>
                                </span>
                            </div>
                            <div class="thumb_info">
                                <div class="thumb_info_alt">
                                    <div class="thumb_title_alt">
                                        <a href="https://vid.me/c7bk">
                                When Taunting Goes Wrong                                </a>
                                    </div>
                                    <div class="thumb_info_alt2">
                                        <span class="thumb_author_alt">
                                    <a href="https://vid.me/EFARCHIVE"
                                       class="thumb_author_username">EFARCHIVE</a>
                                </span>
                                        <span class="divider">&bull;</span>
                                        <span class="thumb_channel_alt">             
                                    <a href="https://vid.me/n/funny">Funny</a>
                                </span>
                                    </div>
                                </div>
                                <ul class="thumb_stats">
                                    <li class="thumb_stat thumb_score">
                                        <a href="https://vid.me/c7bk" class="js-video-vote-score" data-video="3179534" data-score="13">
                                            <span class="num">13</span>
                                            <span class="text">points</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_views">
                                        <a href="https://vid.me/c7bk">
                                            <span class="num">61,108</span>
                                            <span class="text">plays</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_comments">
                                        <a href="https://vid.me/c7bk">
                                            <span class="num">1</span>
                                            <span class="text">comment</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_date">
                                        <a href="https://vid.me/c7bk">
                                            <time class="timestamp" title="July 4th, 2015, 8:10:29 am PDT" datetime="2015-07-04T08:10:29-07:00" data-timestamp="Sat, 4 Jul 2015 8:10:29 -0700">3d ago</time>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_watching">
                                        <span class="js-video-watchers" data-type="video" data-video="3179534">
                            235 watching
                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li data-id="3169571" data-channel="3" data-user="3834632" data-url="https://vid.me/Etmh" class="">
                        <div class="inner">
                            <div class="thumb_vote_wrapper">
                                <div class="thumb_vote">
                                    <a class="js-video-vote-up " data-video="3169571" data-video-title="Well, The Tire Wall Works" data-video-url="https://vid.me/Etmh"><i class="fa fa-arrow-up"></i></a>
                                    <a class="js-video-vote-down " data-video="3169571" data-video-url="https://vid.me/Etmh"><i class="fa fa-arrow-down"></i></a>
                                </div>
                            </div>
                            <div class="thumb_wrapper">
                                <a href="https://vid.me/Etmh" style="background:#2787d0">
                                    <span class="thumb_duration">
                    0:25                    </span>
                                    <img src="https://d1wst0behutosd.cloudfront.net/thumbnails/3169571.jpg?v1r1435990247" alt="" width="300" height="533" style="margin-left: -0px; margin-top: -182px" class="hidden-phone"> <img src="https://d1wst0behutosd.cloudfront.net/thumbnails/3169571.jpg?v1r1435990247" alt="" width="120" height="213" style="margin-left: -0px; margin-top: -64px" class="visible-phone"> </a>
                                <span class="thumb_title">
                                                                                                    <span class="thumb_channel">             
                        <a href="https://vid.me/n/funny">Funny</a>
                    </span>
                                <a class="thumb_title_label" href="https://vid.me/Etmh">
                        Well, The Tire Wall Works                        </a>
                                <div class="thumb_author" data-user="3834632">
                                    <a href="https://vid.me/EFARCHIVE" class="thumb_author_username">EFARCHIVE</a>
                                </div>
                                </span>
                            </div>
                            <div class="thumb_info">
                                <div class="thumb_info_alt">
                                    <div class="thumb_title_alt">
                                        <a href="https://vid.me/Etmh">
                                Well, The Tire Wall Works                                </a>
                                    </div>
                                    <div class="thumb_info_alt2">
                                        <span class="thumb_author_alt">
                                    <a href="https://vid.me/EFARCHIVE"
                                       class="thumb_author_username">EFARCHIVE</a>
                                </span>
                                        <span class="divider">&bull;</span>
                                        <span class="thumb_channel_alt">             
                                    <a href="https://vid.me/n/funny">Funny</a>
                                </span>
                                    </div>
                                </div>
                                <ul class="thumb_stats">
                                    <li class="thumb_stat thumb_score">
                                        <a href="https://vid.me/Etmh" class="js-video-vote-score" data-video="3169571" data-score="10">
                                            <span class="num">10</span>
                                            <span class="text">points</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_views">
                                        <a href="https://vid.me/Etmh">
                                            <span class="num">59,449</span>
                                            <span class="text">plays</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_comments">
                                        <a href="https://vid.me/Etmh">
                                            <span class="num">1</span>
                                            <span class="text">comment</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_date">
                                        <a href="https://vid.me/Etmh">
                                            <time class="timestamp" title="July 3rd, 2015, 11:10:58 pm PDT" datetime="2015-07-03T23:10:58-07:00" data-timestamp="Fri, 3 Jul 2015 23:10:58 -0700">3d ago</time>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_watching">
                                        <span class="js-video-watchers" data-type="video" data-video="3169571">
                            158 watching
                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li data-id="3023882" data-channel="6" data-user="" data-url="https://vid.me/Wxnn" class=" anonymous">
                        <div class="inner">
                            <div class="thumb_vote_wrapper">
                                <div class="thumb_vote">
                                    <a class="js-video-vote-up " data-video="3023882" data-video-title="Pride 2015 March in Istanbul" data-video-url="https://vid.me/Wxnn"><i class="fa fa-arrow-up"></i></a>
                                    <a class="js-video-vote-down " data-video="3023882" data-video-url="https://vid.me/Wxnn"><i class="fa fa-arrow-down"></i></a>
                                </div>
                            </div>
                            <div class="thumb_wrapper">
                                <a href="https://vid.me/Wxnn" style="background:#e64967">
                                    <span class="thumb_duration">
                    0:30                    </span>
                                    <img src="https://d1wst0behutosd.cloudfront.net/thumbnails/3023882.jpg?v1r1435502327" alt="" width="302" height="170" style="margin-left: -1px; margin-top: -0px" class="hidden-phone"> <img src="https://d1wst0behutosd.cloudfront.net/thumbnails/3023882.jpg?v1r1435502327" alt="" width="151" height="85" style="margin-left: -16px; margin-top: -0px" class="visible-phone"> </a>
                                <span class="thumb_title">
                                                                                                    <span class="thumb_channel">             
                        <a href="https://vid.me/n/news">News</a>
                    </span>
                                <span class="thumb_channel thumb_featured">
                        <a href="/featured">Featured</a>
                    </span>
                                <a class="thumb_title_label" href="https://vid.me/Wxnn">
                        Pride 2015 March in Istanbul                        </a>
                                </span>
                            </div>
                            <div class="thumb_info">
                                <div class="thumb_info_alt">
                                    <div class="thumb_title_alt">
                                        <a href="https://vid.me/Wxnn">
                                Pride 2015 March in Istanbul                                </a>
                                    </div>
                                    <div class="thumb_info_alt2">
                                        <span class="thumb_channel_alt">             
                                    <a href="https://vid.me/n/news">News</a>
                                </span>
                                    </div>
                                </div>
                                <ul class="thumb_stats">
                                    <li class="thumb_stat thumb_score">
                                        <a href="https://vid.me/Wxnn" class="js-video-vote-score" data-video="3023882" data-score="22">
                                            <span class="num">22</span>
                                            <span class="text">points</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_views">
                                        <a href="https://vid.me/Wxnn">
                                            <span class="num">71,846</span>
                                            <span class="text">plays</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_comments">
                                        <a href="https://vid.me/Wxnn">
                                            <span class="num">8</span>
                                            <span class="text">comments</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_date">
                                        <a href="https://vid.me/Wxnn">
                                            <time class="timestamp" title="June 28th, 2015, 7:39:00 am PDT" datetime="2015-06-28T07:39:00-07:00" data-timestamp="Sun, 28 Jun 2015 7:39:00 -0700">1w ago</time>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_watching">
                                        <span class="js-video-watchers" data-type="video" data-video="3023882">
                            56 watching
                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li data-id="3169589" data-channel="242" data-user="73316" data-url="https://vid.me/qQj3" class="">
                        <div class="inner">
                            <div class="thumb_vote_wrapper">
                                <div class="thumb_vote">
                                    <a class="js-video-vote-up " data-video="3169589" data-video-title="When Taunting In Sports Backfires" data-video-url="https://vid.me/qQj3"><i class="fa fa-arrow-up"></i></a>
                                    <a class="js-video-vote-down " data-video="3169589" data-video-url="https://vid.me/qQj3"><i class="fa fa-arrow-down"></i></a>
                                </div>
                            </div>
                            <div class="thumb_wrapper">
                                <a href="https://vid.me/qQj3" style="background:#592123">
                                    <span class="thumb_duration">
                    3:57                    </span>
                                    <img src="https://d1wst0behutosd.cloudfront.net/thumbnails/3169589.jpg?v1r1435990529" alt="" width="302" height="170" style="margin-left: -1px; margin-top: -0px" class="hidden-phone"> <img src="https://d1wst0behutosd.cloudfront.net/thumbnails/3169589.jpg?v1r1435990529" alt="" width="151" height="85" style="margin-left: -16px; margin-top: -0px" class="visible-phone"> </a>
                                <span class="thumb_title">
                                                                                                    <span class="thumb_channel">             
                        <a href="https://vid.me/n/sports">Sports</a>
                    </span>
                                <a class="thumb_title_label" href="https://vid.me/qQj3">
                        When Taunting In Sports Backfires                        </a>
                                <div class="thumb_author" data-user="73316">
                                    <a href="https://vid.me/hasser" class="thumb_author_username">hasser</a>
                                </div>
                                </span>
                            </div>
                            <div class="thumb_info">
                                <div class="thumb_info_alt">
                                    <div class="thumb_title_alt">
                                        <a href="https://vid.me/qQj3">
                                When Taunting In Sports Backfires                                </a>
                                    </div>
                                    <div class="thumb_info_alt2">
                                        <span class="thumb_author_alt">
                                    <a href="https://vid.me/hasser"
                                       class="thumb_author_username">hasser</a>
                                </span>
                                        <span class="divider">&bull;</span>
                                        <span class="thumb_channel_alt">             
                                    <a href="https://vid.me/n/sports">Sports</a>
                                </span>
                                    </div>
                                </div>
                                <ul class="thumb_stats">
                                    <li class="thumb_stat thumb_score">
                                        <a href="https://vid.me/qQj3" class="js-video-vote-score" data-video="3169589" data-score="5">
                                            <span class="num">5</span>
                                            <span class="text">points</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_views">
                                        <a href="https://vid.me/qQj3">
                                            <span class="num">4,490</span>
                                            <span class="text">plays</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_date">
                                        <a href="https://vid.me/qQj3">
                                            <time class="timestamp" title="July 3rd, 2015, 11:15:29 pm PDT" datetime="2015-07-03T23:15:29-07:00" data-timestamp="Fri, 3 Jul 2015 23:15:29 -0700">3d ago</time>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_watching">
                                        <span class="js-video-watchers" data-type="video" data-video="3169589">
                            49 watching
                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li data-id="3172595" data-channel="184" data-user="4019381" data-url="https://vid.me/uWvd" class="">
                        <div class="inner">
                            <div class="thumb_vote_wrapper">
                                <div class="thumb_vote">
                                    <a class="js-video-vote-up " data-video="3172595" data-video-title="THE BEST ADAM’S 10 INCHES LONG DILDO" data-video-url="https://vid.me/uWvd"><i class="fa fa-arrow-up"></i></a>
                                    <a class="js-video-vote-down " data-video="3172595" data-video-url="https://vid.me/uWvd"><i class="fa fa-arrow-down"></i></a>
                                </div>
                            </div>
                            <div class="thumb_wrapper">
                                <a href="https://vid.me/uWvd" style="background:#b80e19">
                                    <span class="thumb_duration">
                    4:12                    </span>
                                    <img src="https://d1wst0behutosd.cloudfront.net/thumbnails/3172595.jpg?v1r1435999264" alt="" width="302" height="170" style="margin-left: -1px; margin-top: -0px" class="hidden-phone"> <img src="https://d1wst0behutosd.cloudfront.net/thumbnails/3172595.jpg?v1r1435999264" alt="" width="151" height="85" style="margin-left: -16px; margin-top: -0px" class="visible-phone"> </a>
                                <span class="thumb_title">
                                                                                                    <span class="thumb_channel">             
                        <a href="https://vid.me/n/awesome">Awesome</a>
                    </span>
                                <a class="thumb_title_label" href="https://vid.me/uWvd">
                        THE BEST ADAM’S 10 INCHES LONG DILDO                        </a>
                                <div class="thumb_author" data-user="4019381">
                                    <a href="https://vid.me/katiemiles8181" class="thumb_author_username">katiemiles8181</a>
                                </div>
                                </span>
                            </div>
                            <div class="thumb_info">
                                <div class="thumb_info_alt">
                                    <div class="thumb_title_alt">
                                        <a href="https://vid.me/uWvd">
                                THE BEST ADAM’S 10 INCHES LONG DILDO                                </a>
                                    </div>
                                    <div class="thumb_info_alt2">
                                        <span class="thumb_author_alt">
                                    <a href="https://vid.me/katiemiles8181"
                                       class="thumb_author_username">katiemiles8181</a>
                                </span>
                                        <span class="divider">&bull;</span>
                                        <span class="thumb_channel_alt">             
                                    <a href="https://vid.me/n/awesome">Awesome</a>
                                </span>
                                    </div>
                                </div>
                                <ul class="thumb_stats">
                                    <li class="thumb_stat thumb_score">
                                        <a href="https://vid.me/uWvd" class="js-video-vote-score" data-video="3172595" data-score="2">
                                            <span class="num">2</span>
                                            <span class="text">points</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_views">
                                        <a href="https://vid.me/uWvd">
                                            <span class="num">1,273</span>
                                            <span class="text">plays</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_date">
                                        <a href="https://vid.me/uWvd">
                                            <time class="timestamp" title="July 4th, 2015, 1:41:02 am PDT" datetime="2015-07-04T01:41:02-07:00" data-timestamp="Sat, 4 Jul 2015 1:41:02 -0700">3d ago</time>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_watching">
                                        <span class="js-video-watchers" data-type="video" data-video="3172595">
                            36 watching
                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li data-id="3135227" data-channel="11" data-user="3834632" data-url="https://vid.me/Enmh" class="">
                        <div class="inner">
                            <div class="thumb_vote_wrapper">
                                <div class="thumb_vote">
                                    <a class="js-video-vote-up " data-video="3135227" data-video-title="Unexpected" data-video-url="https://vid.me/Enmh"><i class="fa fa-arrow-up"></i></a>
                                    <a class="js-video-vote-down " data-video="3135227" data-video-url="https://vid.me/Enmh"><i class="fa fa-arrow-down"></i></a>
                                </div>
                            </div>
                            <div class="thumb_wrapper">
                                <a href="https://vid.me/Enmh" style="background:#e0b18e">
                                    <span class="thumb_duration">
                    0:20                    </span>
                                    <img src="https://d1wst0behutosd.cloudfront.net/thumbnails/3135227.jpg?v1r1435911543" alt="" width="302" height="170" style="margin-left: -1px; margin-top: -0px" class="hidden-phone"> <img src="https://d1wst0behutosd.cloudfront.net/thumbnails/3135227.jpg?v1r1435911543" alt="" width="151" height="85" style="margin-left: -16px; margin-top: -0px" class="visible-phone"> </a>
                                <span class="thumb_title">
                                                                                                    <span class="thumb_channel">             
                        <a href="https://vid.me/n/wtf">WTF</a>
                    </span>
                                <a class="thumb_title_label" href="https://vid.me/Enmh">
                        Unexpected                        </a>
                                <div class="thumb_author" data-user="3834632">
                                    <a href="https://vid.me/EFARCHIVE" class="thumb_author_username">EFARCHIVE</a>
                                </div>
                                </span>
                            </div>
                            <div class="thumb_info">
                                <div class="thumb_info_alt">
                                    <div class="thumb_title_alt">
                                        <a href="https://vid.me/Enmh">
                                Unexpected                                </a>
                                    </div>
                                    <div class="thumb_info_alt2">
                                        <span class="thumb_author_alt">
                                    <a href="https://vid.me/EFARCHIVE"
                                       class="thumb_author_username">EFARCHIVE</a>
                                </span>
                                        <span class="divider">&bull;</span>
                                        <span class="thumb_channel_alt">             
                                    <a href="https://vid.me/n/wtf">WTF</a>
                                </span>
                                    </div>
                                </div>
                                <ul class="thumb_stats">
                                    <li class="thumb_stat thumb_score">
                                        <a href="https://vid.me/Enmh" class="js-video-vote-score" data-video="3135227" data-score="7">
                                            <span class="num">7</span>
                                            <span class="text">points</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_views">
                                        <a href="https://vid.me/Enmh">
                                            <span class="num">61,930</span>
                                            <span class="text">plays</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_date">
                                        <a href="https://vid.me/Enmh">
                                            <time class="timestamp" title="July 3rd, 2015, 1:19:17 am PDT" datetime="2015-07-03T01:19:17-07:00" data-timestamp="Fri, 3 Jul 2015 1:19:17 -0700">4d ago</time>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_watching">
                                        <span class="js-video-watchers" data-type="video" data-video="3135227">
                            87 watching
                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li data-id="3183194" data-channel="3" data-user="" data-url="https://vid.me/J3W6" class=" anonymous">
                        <div class="inner">
                            <div class="thumb_vote_wrapper">
                                <div class="thumb_vote">
                                    <a class="js-video-vote-up " data-video="3183194" data-video-title="future russian snake charmer?" data-video-url="https://vid.me/J3W6"><i class="fa fa-arrow-up"></i></a>
                                    <a class="js-video-vote-down " data-video="3183194" data-video-url="https://vid.me/J3W6"><i class="fa fa-arrow-down"></i></a>
                                </div>
                            </div>
                            <div class="thumb_wrapper">
                                <a href="https://vid.me/J3W6" style="background:#5a83b8">
                                    <span class="thumb_duration">
                    4:06                    </span>
                                    <img src="https://d1wst0behutosd.cloudfront.net/thumbnails/3183194.jpg?v1r1436030854" alt="" width="300" height="225" style="margin-left: -0px; margin-top: -28px" class="hidden-phone"> <img src="https://d1wst0behutosd.cloudfront.net/thumbnails/3183194.jpg?v1r1436030854" alt="" width="120" height="90" style="margin-left: -0px; margin-top: -3px" class="visible-phone"> </a>
                                <span class="thumb_title">
                                                                                                    <span class="thumb_channel">             
                        <a href="https://vid.me/n/funny">Funny</a>
                    </span>
                                <a class="thumb_title_label" href="https://vid.me/J3W6">
                        future russian snake charmer?                        </a>
                                </span>
                            </div>
                            <div class="thumb_info">
                                <div class="thumb_info_alt">
                                    <div class="thumb_title_alt">
                                        <a href="https://vid.me/J3W6">
                                future russian snake charmer?                                </a>
                                    </div>
                                    <div class="thumb_info_alt2">
                                        <span class="thumb_channel_alt">             
                                    <a href="https://vid.me/n/funny">Funny</a>
                                </span>
                                    </div>
                                </div>
                                <ul class="thumb_stats">
                                    <li class="thumb_stat thumb_score">
                                        <a href="https://vid.me/J3W6" class="js-video-vote-score" data-video="3183194" data-score="0">
                                            <span class="num">0</span>
                                            <span class="text">points</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_views">
                                        <a href="https://vid.me/J3W6">
                                            <span class="num">5,106</span>
                                            <span class="text">plays</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_comments">
                                        <a href="https://vid.me/J3W6">
                                            <span class="num">1</span>
                                            <span class="text">comment</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_date">
                                        <a href="https://vid.me/J3W6">
                                            <time class="timestamp" title="July 4th, 2015, 10:27:35 am PDT" datetime="2015-07-04T10:27:35-07:00" data-timestamp="Sat, 4 Jul 2015 10:27:35 -0700">3d ago</time>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_watching">
                                        <span class="js-video-watchers" data-type="video" data-video="3183194">
                            36 watching
                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li data-id="3112769" data-channel="1" data-user="282811" data-url="https://vid.me/zLAe" class="">
                        <div class="inner">
                            <div class="thumb_vote_wrapper">
                                <div class="thumb_vote">
                                    <a class="js-video-vote-up " data-video="3112769" data-video-title="Baby Skunk and Roomba" data-video-url="https://vid.me/zLAe"><i class="fa fa-arrow-up"></i></a>
                                    <a class="js-video-vote-down " data-video="3112769" data-video-url="https://vid.me/zLAe"><i class="fa fa-arrow-down"></i></a>
                                </div>
                            </div>
                            <div class="thumb_wrapper">
                                <a href="https://vid.me/zLAe" style="background:#edd6a9">
                                    <span class="thumb_duration">
                    0:29                    </span>
                                    <img src="https://d1wst0behutosd.cloudfront.net/thumbnails/3112769.jpg?v1r1435845974" alt="" width="304" height="170" style="margin-left: -2px; margin-top: -0px" class="hidden-phone"> <img src="https://d1wst0behutosd.cloudfront.net/thumbnails/3112769.jpg?v1r1435845974" alt="" width="152" height="85" style="margin-left: -16px; margin-top: -0px" class="visible-phone"> </a>
                                <span class="thumb_title">
                                                                                                    <span class="thumb_channel">             
                        <a href="https://vid.me/n/aww">Aww</a>
                    </span>
                                <a class="thumb_title_label" href="https://vid.me/zLAe">
                        Baby Skunk and Roomba                        </a>
                                <div class="thumb_author" data-user="282811">
                                    <a href="https://vid.me/power-cube" class="thumb_author_username">power-cube</a>
                                </div>
                                </span>
                            </div>
                            <div class="thumb_info">
                                <div class="thumb_info_alt">
                                    <div class="thumb_title_alt">
                                        <a href="https://vid.me/zLAe">
                                Baby Skunk and Roomba                                </a>
                                    </div>
                                    <div class="thumb_info_alt2">
                                        <span class="thumb_author_alt">
                                    <a href="https://vid.me/power-cube"
                                       class="thumb_author_username">power-cube</a>
                                </span>
                                        <span class="divider">&bull;</span>
                                        <span class="thumb_channel_alt">             
                                    <a href="https://vid.me/n/aww">Aww</a>
                                </span>
                                    </div>
                                </div>
                                <ul class="thumb_stats">
                                    <li class="thumb_stat thumb_score">
                                        <a href="https://vid.me/zLAe" class="js-video-vote-score" data-video="3112769" data-score="13">
                                            <span class="num">13</span>
                                            <span class="text">points</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_views">
                                        <a href="https://vid.me/zLAe">
                                            <span class="num">16,638</span>
                                            <span class="text">plays</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_comments">
                                        <a href="https://vid.me/zLAe">
                                            <span class="num">2</span>
                                            <span class="text">comments</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_date">
                                        <a href="https://vid.me/zLAe">
                                            <time class="timestamp" title="July 2nd, 2015, 7:06:28 am PDT" datetime="2015-07-02T07:06:28-07:00" data-timestamp="Thu, 2 Jul 2015 7:06:28 -0700">5d ago</time>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_watching">
                                        <span class="js-video-watchers" data-type="video" data-video="3112769">
                            39 watching
                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li data-id="3121235" data-channel="223" data-user="2874302" data-url="https://vid.me/9l47" class="">
                        <div class="inner">
                            <div class="thumb_vote_wrapper">
                                <div class="thumb_vote">
                                    <a class="js-video-vote-up " data-video="3121235" data-video-title="ALL HAIL LIGHTNING CAT!!" data-video-url="https://vid.me/9l47"><i class="fa fa-arrow-up"></i></a>
                                    <a class="js-video-vote-down " data-video="3121235" data-video-url="https://vid.me/9l47"><i class="fa fa-arrow-down"></i></a>
                                </div>
                            </div>
                            <div class="thumb_wrapper">
                                <a href="https://vid.me/9l47" style="background:#ea05f2">
                                    <span class="thumb_duration">
                    0:06                    </span>
                                    <img src="https://d1wst0behutosd.cloudfront.net/thumbnails/3121235.jpg?v1r1435878636" alt="" width="300" height="300" style="margin-left: -0px; margin-top: -65px" class="hidden-phone"> <img src="https://d1wst0behutosd.cloudfront.net/thumbnails/3121235.jpg?v1r1435878636" alt="" width="120" height="120" style="margin-left: -0px; margin-top: -18px" class="visible-phone"> </a>
                                <span class="thumb_title">
                                                                                                    <span class="thumb_channel">             
                        <a href="https://vid.me/n/gifdub">Gifdub</a>
                    </span>
                                <a class="thumb_title_label" href="https://vid.me/9l47">
                        ALL HAIL LIGHTNING CAT!!                        </a>
                                <div class="thumb_author" data-user="2874302">
                                    <a href="https://vid.me/ADHD" class="thumb_author_username">ADHD</a>
                                </div>
                                </span>
                            </div>
                            <div class="thumb_info">
                                <div class="thumb_info_alt">
                                    <div class="thumb_title_alt">
                                        <a href="https://vid.me/9l47">
                                ALL HAIL LIGHTNING CAT!!                                </a>
                                    </div>
                                    <div class="thumb_info_alt2">
                                        <span class="thumb_author_alt">
                                    <a href="https://vid.me/ADHD"
                                       class="thumb_author_username">ADHD</a>
                                </span>
                                        <span class="divider">&bull;</span>
                                        <span class="thumb_channel_alt">             
                                    <a href="https://vid.me/n/gifdub">Gifdub</a>
                                </span>
                                    </div>
                                </div>
                                <ul class="thumb_stats">
                                    <li class="thumb_stat thumb_score">
                                        <a href="https://vid.me/9l47" class="js-video-vote-score" data-video="3121235" data-score="6">
                                            <span class="num">6</span>
                                            <span class="text">points</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_views">
                                        <a href="https://vid.me/9l47">
                                            <span class="num">923</span>
                                            <span class="text">plays</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_date">
                                        <a href="https://vid.me/9l47">
                                            <time class="timestamp" title="July 2nd, 2015, 4:10:46 pm PDT" datetime="2015-07-02T16:10:46-07:00" data-timestamp="Thu, 2 Jul 2015 16:10:46 -0700">5d ago</time>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_watching">
                                        <span class="js-video-watchers" data-type="video" data-video="3121235">
                            22 watching
                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li data-id="3117920" data-channel="3" data-user="3093932" data-url="https://vid.me/xFpJ" class="">
                        <div class="inner">
                            <div class="thumb_vote_wrapper">
                                <div class="thumb_vote">
                                    <a class="js-video-vote-up " data-video="3117920" data-video-title="Patrice O&#039;Neal vs Annoying Chick" data-video-url="https://vid.me/xFpJ"><i class="fa fa-arrow-up"></i></a>
                                    <a class="js-video-vote-down " data-video="3117920" data-video-url="https://vid.me/xFpJ"><i class="fa fa-arrow-down"></i></a>
                                </div>
                            </div>
                            <div class="thumb_wrapper">
                                <a href="https://vid.me/xFpJ" style="background:#3c4c59">
                                    <span class="thumb_duration">
                    6:16                    </span>
                                    <img src="https://d1wst0behutosd.cloudfront.net/thumbnails/3117920.jpg?v1r1435867213" alt="" width="300" height="225" style="margin-left: -0px; margin-top: -28px" class="hidden-phone"> <img src="https://d1wst0behutosd.cloudfront.net/thumbnails/3117920.jpg?v1r1435867213" alt="" width="120" height="90" style="margin-left: -0px; margin-top: -3px" class="visible-phone"> </a>
                                <span class="thumb_title">
                                                                                                    <span class="thumb_channel">             
                        <a href="https://vid.me/n/funny">Funny</a>
                    </span>
                                <a class="thumb_title_label" href="https://vid.me/xFpJ">
                        Patrice O&#039;Neal vs Annoying Chick                        </a>
                                <div class="thumb_author" data-user="3093932">
                                    <a href="https://vid.me/Rokuro" class="thumb_author_username">Rokuro</a>
                                </div>
                                </span>
                            </div>
                            <div class="thumb_info">
                                <div class="thumb_info_alt">
                                    <div class="thumb_title_alt">
                                        <a href="https://vid.me/xFpJ">
                                Patrice O&#039;Neal vs Annoying Chick                                </a>
                                    </div>
                                    <div class="thumb_info_alt2">
                                        <span class="thumb_author_alt">
                                    <a href="https://vid.me/Rokuro"
                                       class="thumb_author_username">Rokuro</a>
                                </span>
                                        <span class="divider">&bull;</span>
                                        <span class="thumb_channel_alt">             
                                    <a href="https://vid.me/n/funny">Funny</a>
                                </span>
                                    </div>
                                </div>
                                <ul class="thumb_stats">
                                    <li class="thumb_stat thumb_score">
                                        <a href="https://vid.me/xFpJ" class="js-video-vote-score" data-video="3117920" data-score="6">
                                            <span class="num">6</span>
                                            <span class="text">points</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_views">
                                        <a href="https://vid.me/xFpJ">
                                            <span class="num">12,475</span>
                                            <span class="text">plays</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_comments">
                                        <a href="https://vid.me/xFpJ">
                                            <span class="num">3</span>
                                            <span class="text">comments</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_date">
                                        <a href="https://vid.me/xFpJ">
                                            <time class="timestamp" title="July 2nd, 2015, 1:00:12 pm PDT" datetime="2015-07-02T13:00:12-07:00" data-timestamp="Thu, 2 Jul 2015 13:00:12 -0700">5d ago</time>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_watching">
                                        <span class="js-video-watchers" data-type="video" data-video="3117920">
                            23 watching
                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li data-id="3109286" data-channel="184" data-user="" data-url="https://vid.me/wn9o" class=" anonymous">
                        <div class="inner">
                            <div class="thumb_vote_wrapper">
                                <div class="thumb_vote">
                                    <a class="js-video-vote-up " data-video="3109286" data-video-title="Vince Staples" data-video-url="https://vid.me/wn9o"><i class="fa fa-arrow-up"></i></a>
                                    <a class="js-video-vote-down " data-video="3109286" data-video-url="https://vid.me/wn9o"><i class="fa fa-arrow-down"></i></a>
                                </div>
                            </div>
                            <div class="thumb_wrapper">
                                <a href="https://vid.me/wn9o" style="background:#9f756e">
                                    <span class="thumb_duration">
                    3:51                    </span>
                                    <img src="https://d1wst0behutosd.cloudfront.net/thumbnails/3109286.jpg?v1r1435833196" alt="" width="304" height="170" style="margin-left: -2px; margin-top: -0px" class="hidden-phone"> <img src="https://d1wst0behutosd.cloudfront.net/thumbnails/3109286.jpg?v1r1435833196" alt="" width="152" height="85" style="margin-left: -16px; margin-top: -0px" class="visible-phone"> </a>
                                <span class="thumb_title">
                                                                                                    <span class="thumb_channel">             
                        <a href="https://vid.me/n/awesome">Awesome</a>
                    </span>
                                <a class="thumb_title_label" href="https://vid.me/wn9o">
                        Vince Staples                        </a>
                                </span>
                            </div>
                            <div class="thumb_info">
                                <div class="thumb_info_alt">
                                    <div class="thumb_title_alt">
                                        <a href="https://vid.me/wn9o">
                                Vince Staples                                </a>
                                    </div>
                                    <div class="thumb_info_alt2">
                                        <span class="thumb_channel_alt">             
                                    <a href="https://vid.me/n/awesome">Awesome</a>
                                </span>
                                    </div>
                                </div>
                                <ul class="thumb_stats">
                                    <li class="thumb_stat thumb_score">
                                        <a href="https://vid.me/wn9o" class="js-video-vote-score" data-video="3109286" data-score="10">
                                            <span class="num">10</span>
                                            <span class="text">points</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_views">
                                        <a href="https://vid.me/wn9o">
                                            <span class="num">85,185</span>
                                            <span class="text">plays</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_comments">
                                        <a href="https://vid.me/wn9o">
                                            <span class="num">3</span>
                                            <span class="text">comments</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_date">
                                        <a href="https://vid.me/wn9o">
                                            <time class="timestamp" title="July 2nd, 2015, 3:33:56 am PDT" datetime="2015-07-02T03:33:56-07:00" data-timestamp="Thu, 2 Jul 2015 3:33:56 -0700">5d ago</time>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_watching">
                                        <span class="js-video-watchers" data-type="video" data-video="3109286">
                            39 watching
                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li data-id="3094238" data-channel="11" data-user="" data-url="https://vid.me/6zFq" class=" anonymous">
                        <div class="inner">
                            <div class="thumb_vote_wrapper">
                                <div class="thumb_vote">
                                    <a class="js-video-vote-up " data-video="3094238" data-video-title="handicap" data-video-url="https://vid.me/6zFq"><i class="fa fa-arrow-up"></i></a>
                                    <a class="js-video-vote-down " data-video="3094238" data-video-url="https://vid.me/6zFq"><i class="fa fa-arrow-down"></i></a>
                                </div>
                            </div>
                            <div class="thumb_wrapper">
                                <a href="https://vid.me/6zFq" style="background:#87a1c1">
                                    <span class="thumb_duration">
                    1:17                    </span>
                                    <img src="https://d1wst0behutosd.cloudfront.net/thumbnails/3094238.jpg?v1r1435775412" alt="" width="302" height="170" style="margin-left: -1px; margin-top: -0px" class="hidden-phone"> <img src="https://d1wst0behutosd.cloudfront.net/thumbnails/3094238.jpg?v1r1435775412" alt="" width="151" height="85" style="margin-left: -16px; margin-top: -0px" class="visible-phone"> </a>
                                <span class="thumb_title">
                                                                                                    <span class="thumb_channel">             
                        <a href="https://vid.me/n/wtf">WTF</a>
                    </span>
                                <a class="thumb_title_label" href="https://vid.me/6zFq">
                        handicap                        </a>
                                </span>
                            </div>
                            <div class="thumb_info">
                                <div class="thumb_info_alt">
                                    <div class="thumb_title_alt">
                                        <a href="https://vid.me/6zFq">
                                handicap                                </a>
                                    </div>
                                    <div class="thumb_info_alt2">
                                        <span class="thumb_channel_alt">             
                                    <a href="https://vid.me/n/wtf">WTF</a>
                                </span>
                                    </div>
                                </div>
                                <ul class="thumb_stats">
                                    <li class="thumb_stat thumb_score">
                                        <a href="https://vid.me/6zFq" class="js-video-vote-score" data-video="3094238" data-score="23">
                                            <span class="num">23</span>
                                            <span class="text">points</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_views">
                                        <a href="https://vid.me/6zFq">
                                            <span class="num">222,002</span>
                                            <span class="text">plays</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_comments">
                                        <a href="https://vid.me/6zFq">
                                            <span class="num">6</span>
                                            <span class="text">comments</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_date">
                                        <a href="https://vid.me/6zFq">
                                            <time class="timestamp" title="July 1st, 2015, 11:30:29 am PDT" datetime="2015-07-01T11:30:29-07:00" data-timestamp="Wed, 1 Jul 2015 11:30:29 -0700">6d ago</time>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_watching">
                                        <span class="js-video-watchers" data-type="video" data-video="3094238">
                            66 watching
                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li data-id="3107081" data-channel="3" data-user="3834632" data-url="https://vid.me/PJiF" class="">
                        <div class="inner">
                            <div class="thumb_vote_wrapper">
                                <div class="thumb_vote">
                                    <a class="js-video-vote-up " data-video="3107081" data-video-title="Slingshot Scrambles Brain" data-video-url="https://vid.me/PJiF"><i class="fa fa-arrow-up"></i></a>
                                    <a class="js-video-vote-down " data-video="3107081" data-video-url="https://vid.me/PJiF"><i class="fa fa-arrow-down"></i></a>
                                </div>
                            </div>
                            <div class="thumb_wrapper">
                                <a href="https://vid.me/PJiF" style="background:#4ad799">
                                    <span class="thumb_duration">
                    1:32                    </span>
                                    <img src="https://d1wst0behutosd.cloudfront.net/thumbnails/3107081.jpg?v1r1435823039" alt="" width="300" height="229" style="margin-left: -0px; margin-top: -30px" class="hidden-phone"> <img src="https://d1wst0behutosd.cloudfront.net/thumbnails/3107081.jpg?v1r1435823039" alt="" width="120" height="92" style="margin-left: -0px; margin-top: -4px" class="visible-phone"> </a>
                                <span class="thumb_title">
                                                                                                    <span class="thumb_channel">             
                        <a href="https://vid.me/n/funny">Funny</a>
                    </span>
                                <a class="thumb_title_label" href="https://vid.me/PJiF">
                        Slingshot Scrambles Brain                        </a>
                                <div class="thumb_author" data-user="3834632">
                                    <a href="https://vid.me/EFARCHIVE" class="thumb_author_username">EFARCHIVE</a>
                                </div>
                                </span>
                            </div>
                            <div class="thumb_info">
                                <div class="thumb_info_alt">
                                    <div class="thumb_title_alt">
                                        <a href="https://vid.me/PJiF">
                                Slingshot Scrambles Brain                                </a>
                                    </div>
                                    <div class="thumb_info_alt2">
                                        <span class="thumb_author_alt">
                                    <a href="https://vid.me/EFARCHIVE"
                                       class="thumb_author_username">EFARCHIVE</a>
                                </span>
                                        <span class="divider">&bull;</span>
                                        <span class="thumb_channel_alt">             
                                    <a href="https://vid.me/n/funny">Funny</a>
                                </span>
                                    </div>
                                </div>
                                <ul class="thumb_stats">
                                    <li class="thumb_stat thumb_score">
                                        <a href="https://vid.me/PJiF" class="js-video-vote-score" data-video="3107081" data-score="10">
                                            <span class="num">10</span>
                                            <span class="text">points</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_views">
                                        <a href="https://vid.me/PJiF">
                                            <span class="num">68,107</span>
                                            <span class="text">plays</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_comments">
                                        <a href="https://vid.me/PJiF">
                                            <span class="num">2</span>
                                            <span class="text">comments</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_date">
                                        <a href="https://vid.me/PJiF">
                                            <time class="timestamp" title="July 2nd, 2015, 12:44:00 am PDT" datetime="2015-07-02T00:44:00-07:00" data-timestamp="Thu, 2 Jul 2015 0:44:00 -0700">5d ago</time>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_watching">
                                        <span class="js-video-watchers" data-type="video" data-video="3107081">
                            70 watching
                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>