<div class="footer">
    <ul class="menu_footer">
        <li class="menu_footer_jobs">
            <a href="/jobs">Do you code? We're hiring!</a>
        </li>
        <li class="menu_footer_twitter">
            <a href="" target="_blank">Twitter</a>
        </li>
        <li class="menu_footer_facebook">
            <a href="" target="_blank">Facebook</a>
        </li>
        <li class="menu_footer_reddit">
            <a href="" target="_blank">Subreddit</a>
        </li>
        <li class="menu_footer_docs">
            <a href="">API</a>
        </li>
        <li class="menu_footer_privacy">
            <a href="/privacy">Privacy</a>
        </li>
        <li class="menu_footer_terms">
            <a href="/terms-of-use">Terms</a>
        </li>
    </ul>
</div>